/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
	max-width: 700px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	&>*{
		width: 100%;
	}
}
mat-form-field{
	width: 100%;
}